{{template "header.html"}}

<div class="col-md-8">	
	<ol class="breadcrumb">
	{{range .ParentDirectories}}
		<li><a href="/browse/{{.ID}}">{{.Name}}</a></li>
	{{end}}
		<li><a href="/browse/{{.Directory.ID}}">{{.Directory.Name}}</a></li>
		<li class="active">{{.Collection.Name}}</li>
	</ol>

	<div class="panel panel-default">
		<div class="panel-heading">Files</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
			{{range .FileList}}
			<tr>
				<td><img src="/file.png" /></td>
				<td><a href="#">{{.Path}}</a></td>
				<td>{{.Created}}</td>
				<td>{{.Modified}}</td>
			</tr>
			{{end}}
			</table>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">Details</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
			<tr>
				<td>Changeset</td>
				<td>{{.ChangesetId}} (head {{.Collection.Head}})</td>
			</tr>
			<tr>
				<td>File count</td>
				<td>{{len .FileList}}</td>
			</tr>
			<tr>
				<td>Total size (at this revision)</td>
				<td>{{.TotalSize}}</td>
			</tr>
			<tr>
				<td>Replication policy</td>
				<td><a href="/replicationpolicies">{{.Collection.ReplicationPolicy}}</a></td>
			</tr>
			</table>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Changesets</div>
		<div class="panel-body">
			<ul>
			{{range .Collection.Changesets}}
				<li><a href="/collections/{{$.Collection.ID}}/rev/{{.ID}}">{{.Created}}</a></li>
			{{end}}
			</ul>
		</div>
	</div>
</div>

{{template "footer.html"}}
