{{template "header.html"}}

<div class="col-md-9">	
	<h1>Volumes</h1>

	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>UUID</th>
			<th>Label</th>
			<th>Blob total size</th>
			<th>Blob count</th>
		</tr>
	</thead>
	<tbody>
	{{range .Volumes}}
	<tr>
		<td>{{.ID}}</td>
		<td>{{.Identifier}}</td>
		<td>{{.Label}}</td>
		<td>{{.BlobSizeTotal}}</td>
		<td>{{.BlobCount}}</td>
	</tr>
	{{end}}
	</tbody>
	</table>

	<h1>Mounts</h1>

	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Mount ID</th>
			<th>Volume</th>
			<th>Node</th>
			<th>Driver</th>
			<th>DriverOpts</th>
		</tr>
	</thead>
	<tbody>
	{{range .Mounts}}
	<tr>
		<td>{{.ID}}</td>
		<td>{{.Volume}}</td>
		<td>{{.Node}}</td>
		<td>{{.Driver}}</td>
		<td>{{.DriverOpts}}</td>
	</tr>
	{{end}}
	</tbody>
	</table>
</div>

{{template "footer.html"}}
